<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.pandora.mapper.PandoraOpenaiUserMapper">

	<resultMap type="com.ruoyi.pandora.domain.PandoraOpenaiUser" id="PandoraOpenaiUserResult">
		<id     property="userId"     column="user_id"     />
		<result property="count"   column="count"   />
		<result property="type"  column="type"   />
		<result property="userName"   column="user_name"   />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
	</resultMap>
	
	<sql id="selectAiVo">
        select user_id, user_name, count, type, create_by, create_time
        from pandora_openai_user
    </sql>
    
    <select id="selectAiByUserId" parameterType="Long" resultMap="PandoraOpenaiUserResult">
		<include refid="selectAiVo"/>
		where user_id = #{userId}
	</select>

</mapper> 