<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.AgencyRechargeMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.AgencyRecharge">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="user_type" jdbcType="INTEGER" property="userType" />
        <result column="user_level" jdbcType="INTEGER" property="userLevel" />
        <result column="user_level_name" jdbcType="VARCHAR" property="userLevelName" />
        <result column="code" jdbcType="INTEGER" property="code" />
        <result column="order_id" jdbcType="VARCHAR" property="orderId" />
        <result column="admin_id" jdbcType="INTEGER" property="adminId" />
        <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="app_type" jdbcType="INTEGER" property="appType" />
    </resultMap>

    <resultMap id="codeResultMap" type="com.seektop.fund.vo.AgencyRechargeVO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="code" jdbcType="INTEGER" property="code" />
    </resultMap>

    <select id="listAgencyRecharge" parameterType="map" resultMap="BaseResultMap">
        select id,user_name,user_id,user_type,user_level,user_level_name,code,order_id,admin_id,admin_name,create_date,app_type
        from gl_fund_agency_recharge
        where 1 = 1
        <if test="code != null">
            and code = #{code}
        </if>
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userName != null">
            and user_name = #{userName}
        </if>
        order by create_date desc
    </select>

    <select id="findCodes" parameterType="map" resultMap="codeResultMap">
        select id,code
        from gl_fund_agency_recharge
        <where>
            <if test="code != null">
                and code = #{code}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null">
                and user_name = #{userName}
            </if>
            and order_id is null
        </where>
        order by create_date desc
    </select>
</mapper>