<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.C2CWithdrawOrderPoolMapper">

    <resultMap id="BaseResultMap" type="com.seektop.fund.model.C2CWithdrawOrderPool">
        <id column="withdraw_order_id" jdbcType="VARCHAR" property="withdrawOrderId"/>
        <result column="recharge_order_id" jdbcType="VARCHAR" property="rechargeOrderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="withdraw_amount" jdbcType="DECIMAL" property="withdrawAmount"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="is_locked" jdbcType="BOOLEAN" property="isLocked"/>
        <result column="locked_user_id" jdbcType="INTEGER" property="lockedUserId"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="locked_date" jdbcType="TIMESTAMP" property="lockedDate"/>
        <result column="matched_date" jdbcType="TIMESTAMP" property="matchedDate"/>
        <result column="payment_date" jdbcType="TIMESTAMP" property="paymentDate"/>
        <result column="receive_date" jdbcType="TIMESTAMP" property="receiveDate"/>
    </resultMap>

    <select id="matchWithdrawOrder" parameterType="map" resultMap="BaseResultMap">
        select * from gl_c2c_withdraw_order_pool
        where status = 0 and user_id != #{userId} and withdraw_amount &gt;= #{amount} and (is_locked = 0 or locked_user_id = #{userId})
        <if test="sameIpCanMatch == false">
            and ip != #{ip}
        </if>
        order by withdraw_amount asc limit 2
    </select>

    <select id="matchWithdrawOrderByLessThan" parameterType="map" resultMap="BaseResultMap">
        select * from gl_c2c_withdraw_order_pool
        where status = 0 and user_id != #{userId} and withdraw_amount &lt; #{amount} and (is_locked = 0 or locked_user_id = #{userId})
        <if test="sameIpCanMatch == false">
            and ip != #{ip}
        </if>
        order by withdraw_amount desc limit 1
    </select>

</mapper>