<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlFundUserAccountMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlFundUserAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="balance" jdbcType="DECIMAL" property="balance"/>
        <result column="valid_balance" jdbcType="DECIMAL" property="validBalance"/>
        <result column="freeze_balance" jdbcType="DECIMAL" property="freezeBalance"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>
</mapper>