<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlFundUserLevelLockMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlFundUserLevelLock">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="level_id" jdbcType="INTEGER" property="levelId"/>
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
        <result column="recharge_times" jdbcType="INTEGER" property="rechargeTimes"/>
        <result column="recharge_total" jdbcType="DECIMAL" property="rechargeTotal"/>
        <result column="withdraw_times" jdbcType="INTEGER" property="withdrawTimes"/>
        <result column="withdraw_total" jdbcType="DECIMAL" property="withdrawTotal"/>
        <result column="bet_total" jdbcType="DECIMAL" property="betTotal"/>
        <result column="stat_date" jdbcType="TIMESTAMP" property="statDate"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_operator" jdbcType="VARCHAR" property="lastOperator"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>

    <select id="findByUserIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select *
        from gl_fund_userlevellock
        <where>
            user_id in
            <foreach collection="list" item="userId" index="index" open="(" close=")" separator=",">
                #{userId}
            </foreach>
        </where>
    </select>
</mapper>