<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlPaymentMerchantaccountMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlPaymentMerchantaccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
        <result column="channel_id" jdbcType="INTEGER" property="channelId"/>
        <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode"/>
        <result column="pay_url" jdbcType="VARCHAR" property="payUrl"/>
        <result column="notify_url" jdbcType="VARCHAR" property="notifyUrl"/>
        <result column="result_url" jdbcType="VARCHAR" property="resultUrl"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="public_key" jdbcType="LONGVARCHAR" property="publicKey"/>
        <result column="private_key" jdbcType="LONGVARCHAR" property="privateKey"/>
        <result column="daily_limit" jdbcType="INTEGER" property="dailyLimit"/>
        <result column="limit_amount" jdbcType="DECIMAL" property="limitAmount"/>
        <result column="enable_script" jdbcType="INTEGER" property="enableScript"/>
        <result column="script" jdbcType="LONGVARCHAR" property="script"/>
        <result column="script_sign" jdbcType="VARCHAR" property="scriptSign"/>
    </resultMap>


    <select id="getFirstMerchantId" resultType="java.lang.Integer" parameterType="map">
        select merchant_id
        from gl_payment_merchantaccount
        where limit_type = #{limitType}
        and status = 0
        order by last_update desc limit 1
    </select>

</mapper>