<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlPaymentUserCardMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlPaymentUserCard">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="card_username" jdbcType="VARCHAR" property="cardUsername"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>

    <select id="findUserCard" resultMap="BaseResultMap" parameterType="map">
        select * from gl_payment_usercard where user_id=#{userId} and card_no=#{cardNo}
    </select>

    <select id="findUserCardByName" resultMap="BaseResultMap" parameterType="map">
        select * from gl_payment_usercard where user_id=#{userId} and card_username=#{cardUsername} order by last_update
        desc limit 1
    </select>

    <select id="findUserCardNoList" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct card_no from gl_payment_usercard where user_id=#{userId} and card_no is not null order by
        last_update desc limit 5
    </select>

    <select id="findUserCardNameList" resultType="java.lang.String" parameterType="java.lang.Integer">
        select distinct card_username from gl_payment_usercard where user_id=#{userId} and card_username is not null
        order by last_update desc limit 5
    </select>

    <delete id="deleteByUserId">
        delete from gl_payment_usercard where user_id = #{userId}
    </delete>
</mapper>