<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlRechargeReceiveInfoMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlRechargeReceiveInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="bankcard_id" jdbcType="INTEGER" property="bankcardId"/>
        <result column="bankcard_name" jdbcType="VARCHAR" property="bankcardName"/>
        <result column="bankcard_branch" jdbcType="VARCHAR" property="bankcardBranch"/>
        <result column="bankcard_no" jdbcType="VARCHAR" property="bankcardNo"/>
        <result column="keyword" jdbcType="VARCHAR" property="keyword"/>
        <result column="digital_amount" jdbcType="DECIMAL" property="digitalAmount"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
        <result column="block_address" jdbcType="VARCHAR" property="blockAddress"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="real_rate" jdbcType="DECIMAL" property="realRate"/>
        <result column="show_type" jdbcType="VARCHAR" property="showType"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="expired_date" jdbcType="TIMESTAMP" property="expiredDate"/>
    </resultMap>

</mapper>