<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawEffectBetMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawEffectBet">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="coin" jdbcType="VARCHAR" property="coin"/>
        <result column="required_bet" jdbcType="DECIMAL" property="requiredBet"/>
        <result column="grand_total_balance" jdbcType="DECIMAL" property="grandTotalBalance"/>
        <result column="effect_start_time" jdbcType="TIMESTAMP" property="effectStartTime"/>
        <result column="lose_clean" jdbcType="INTEGER" property="loseClean"/>
        <result column="last_total_balance" jdbcType="DECIMAL" property="lastTotalBalance"/>
        <result column="lose_start_time" jdbcType="TIMESTAMP" property="loseStartTime"/>
        <result column="lose" jdbcType="BIT" property="lose"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>

</mapper>