<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawReceiveInfoMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawReceiveInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="third_order_id" jdbcType="VARCHAR" property="thirdOrderId"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="fee" jdbcType="DECIMAL" property="fee"/>
        <result column="usdt_amount" jdbcType="DECIMAL" property="usdtAmount"/>
        <result column="rate" jdbcType="DECIMAL" property="rate"/>
        <result column="actual_usdt_amount" jdbcType="DECIMAL" property="actualUsdtAmount"/>
        <result column="actual_rate" jdbcType="DECIMAL" property="actualRate"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

</mapper>