<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawReturnRequestMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawReturnRequest">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="withdraw_status" jdbcType="INTEGER" property="withdrawStatus"/>
        <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
        <result column="merchant" jdbcType="VARCHAR" property="merchant"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="approver" jdbcType="VARCHAR" property="approver"/>
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark"/>
        <result column="attachments" jdbcType="VARCHAR" property="attachments"/>
    </resultMap>


    <resultMap id="ApproveResultMap" type="com.seektop.fund.model.GlWithdrawReturnRequest">
        <id column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="withdraw_status" jdbcType="INTEGER" property="withdrawStatus"/>
        <result column="merchant_id" jdbcType="INTEGER" property="merchantId"/>
        <result column="merchant" jdbcType="VARCHAR" property="merchant"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="approver" jdbcType="VARCHAR" property="approver"/>
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark"/>
        <result column="withdraw_type" jdbcType="VARCHAR" property="withdrawType"/>
        <result column="attachments" jdbcType="VARCHAR" property="attachments"/>
        <result column="coin" jdbcType="VARCHAR" property="coin"/>
    </resultMap>

    <select id="findByPage" parameterType="com.seektop.fund.vo.WithdrawApproveListDO"
            resultMap="ApproveResultMap">
        SELECT
        req.order_id,
        req.user_type,
        req.username,
        req.amount,
        req.remark,
        req.type,
        req.status,
        req.creator,
        req.create_time,
        req.approver,
        req.approve_time,
        req.approve_remark,
        req.withdraw_type,
        req.reject_reason,
        req.user_id,
        req.attachments,
        gw.merchant AS merchant,
        gw.status AS withdraw_status,
        gw.merchant_code,
        gw.coin
        FROM
        (SELECT * FROM gl_withdraw_returnreq
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="orderId == null">
                <if test="userId != null">
                    and user_id = #{userId}
                </if>
                <if test="startTime != null and endTime != null">
                    and <![CDATA[(create_time >= #{startTime} and create_time <= #{endTime})]]>
                </if>
                <if test="approvalStatus != null and approvalStatus.size() > 0">
                    and status in
                    <foreach collection="approvalStatus" item="status" index="index"
                             open="(" close=")" separator=",">
                        #{status}
                    </foreach>
                </if>
                <if test="withdrawType != null and withdrawType > -1">
                    and withdraw_type =#{withdrawType}
                </if>
                <if test="userType != null and userType >= 0">
                    and user_type = #{userType}
                </if>
            </if>
        </where>
        ) AS req
        INNER JOIN
        (SELECT * FROM gl_withdraw
        <where>
            <if test="orderId == null">
                <if test="merchant != null and merchant != ''">
                    and merchant =#{merchant}
                </if>
                <if test="withdrawStatus != null and withdrawStatus.size() >  0">
                    and status in
                    <foreach collection="withdrawStatus" item="status" index="index" open="(" close=")" separator=",">
                        #{status}
                    </foreach>
                </if>
                <if test="coinCode != null and coinCode != '-1'">
                    and coin =#{coinCode}
                </if>
            </if>
        </where>
        ) AS gw ON gw.order_id = req.order_id
        order by req.status asc,req.create_time desc
    </select>


    <select id="getAmountTotal" parameterType="java.util.HashMap" resultType="java.math.BigDecimal">
        select IFNULL(sum(amount),0) from gl_withdraw_returnreq
        <where>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="orderId == null">
                <if test="userId != null">
                    and user_id = #{userId}
                </if>
                <if test="userIds != null and userIds.size != 0">
                    and user_id in
                    <foreach collection="userIds" open="(" close=")" separator="," item="userId">
                        #{userId}
                    </foreach>
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
                <if test="withdrawStatus != null">
                    and withdraw_status = #{withdrawStatus}
                </if>
                <if test="startDate != null and endDate != null">
                    and <![CDATA[ create_time >= #{startDate} and create_time <= #{endDate}]]>
                </if>
            </if>
        </where>
    </select>
</mapper>