<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawLevelConfigMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawLevelConfig">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="level_id" jdbcType="INTEGER" property="levelId"/>
        <result column="daily_amount" jdbcType="INTEGER" property="dailyAmount"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="weekly_amount" jdbcType="INTEGER" property="weeklyAmount"/>
        <result column="daily_times" jdbcType="INTEGER" property="dailyTimes"/>
        <result column="first_amount" jdbcType="INTEGER" property="firstAmount"/>
        <result column="daily_profit" jdbcType="INTEGER" property="dailyProfit"/>
        <result column="same_ip_check" jdbcType="INTEGER" property="sameIpCheck"/>
        <result column="same_device_check" jdbcType="INTEGER" property="sameDeviceCheck"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
        <result column="last_operator" jdbcType="VARCHAR" property="lastOperator"/>
        <result column="time_check" jdbcType="INTEGER" property="timeCheck"/>
        <result column="register_days" jdbcType="INTEGER" property="registerDays"/>
        <result column="first_withdraw_amount" jdbcType="INTEGER" property="firstWithdrawAmount"/>
    </resultMap>
</mapper>