<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawUserBankCardMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawUserBankCard">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="card_id" jdbcType="INTEGER" property="cardId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="bank_id" jdbcType="INTEGER" property="bankId"/>
        <result column="bank_name" jdbcType="VARCHAR" property="bankName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="selected" jdbcType="INTEGER" property="selected"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>

    <select id="findUserCard" parameterType="map" resultMap="BaseResultMap">
        select * from gl_withdraw_userbankcard where user_id = #{userId} and card_no=#{cardNo} and status=0
    </select>

    <select id="findUserActiveCardList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select * from gl_withdraw_userbankcard where user_id = #{userId} and status=0 order by create_date desc
    </select>

    <select id="findCardForWithdrawValid" resultMap="BaseResultMap" parameterType="map">
        SELECT
        *
        FROM gl_withdraw_userbankcard
        WHERE user_id = #{userId}
        AND status = #{status}
        AND name = #{name}
        AND card_no = #{cardNo}
    </select>

    <select id="bankList" parameterType="com.seektop.fund.vo.UserBindQueryDO" resultType="com.seektop.fund.vo.UserBindBankDO">
        select
            b.username,
            b.user_type as userType,
            a.card_no as cardNo,
            a.status,
            a.last_update as lastUpdate
        from gl_withdraw_userbankcard a
        left join gl_user b on a.user_id = b.id
        <where>
            <if test=" startTime != null ">
                <![CDATA[ and a.last_update >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ and a.last_update <= #{endTime} ]]>
            </if>
            <if test=" searchKey != null  and searchKey != '' ">
                and a.card_no = #{searchKey}
            </if>
            <if test=" userType != null  and userType != -1 ">
                and b.user_type = #{userType}
            </if>
            <if test=" username != null  and username != '' ">
                and b.username = #{username}
            </if>
            <if test=" status != null  and status != -1 ">
                and a.status = #{status}
            </if>
        </where>
        order by a.last_update desc
    </select>

</mapper>