<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawAlarmMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawAlarm">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="withdraw_card_name" jdbcType="VARCHAR" property="withdrawCardName"/>
        <result column="withdraw_card_no" jdbcType="VARCHAR" property="withdrawCardNo"/>
        <result column="card_name" jdbcType="INTEGER" property="cardName"/>
        <result column="card_no" jdbcType="INTEGER" property="cardNo"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
</mapper>