<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.GlWithdrawUserUsdtAddressMapper">
    <resultMap id="BaseResultMap" type="com.seektop.fund.model.GlWithdrawUserUsdtAddress">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="protocol" jdbcType="VARCHAR" property="protocol"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="coin" jdbcType="VARCHAR" property="coin"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="selected" jdbcType="INTEGER" property="selected"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <select id="queryUserUsdtCount" resultType="integer" parameterType="integer">
        select count(1) from gl_withdraw_user_usdt_address
        where user_id = #{userId}
        and status = 0
    </select>


    <select id="usdtList" parameterType="com.seektop.fund.vo.UserBindQueryDO" resultType="com.seektop.fund.vo.UserBindUsdtDO">
        select
            b.username,
            b.user_type as userType,
            a.address,
            a.status,
            a.update_date as lastUpdate,
            a.coin,
            a.protocol,
            a.nick_name as nickName
        from gl_withdraw_user_usdt_address a
        left join gl_user b on a.user_id = b.id
        <where>
            <if test=" startTime != null ">
                <![CDATA[ and  a.update_date >= #{startTime} ]]>
            </if>
            <if test=" endTime != null ">
                <![CDATA[ and a.update_date <= #{endTime} ]]>
            </if>
            <if test=" searchKey != null  and searchKey != '' ">
                and a.address = #{searchKey}
            </if>
            <if test=" userType != null  and userType != -1 ">
                and b.user_type = #{userType}
            </if>
            <if test=" username != null  and username != '' ">
                and b.username = #{username}
            </if>
            <if test=" status != null  and status != -1 ">
                and a.status = #{status}
            </if>
        </where>
        order by a.update_date desc
    </select>

</mapper>