<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seektop.fund.mapper.RechargePayerMonitorRecordMapper">

    <resultMap id="BaseResultMap" type="com.seektop.fund.model.RechargePayerMonitorRecord">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="payer_name" jdbcType="VARCHAR" property="payerName"/>
    </resultMap>

    <resultMap id="listResultMap" type="com.seektop.fund.vo.RechargePayerMonitorRecordListDO">
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="user_type" jdbcType="INTEGER" property="userType"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
        <result column="payer_name" jdbcType="VARCHAR" property="payerName"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
    </resultMap>

    <select id="findRecordList" resultMap="listResultMap">
        select u.id as user_id, u.username, u.user_type, u.register_date, grpmr.create_date, grpmr.payer_name, grpmr.times
        from gl_recharge_payer_monitor_record grpmr
        left join gl_user u on u.id = grpmr.user_id
        where 1 = 1
        <if test="startDate != null and endDate != null">
            and grpmr.create_date between #{startDate} and #{endDate}
        </if>
        <if test="username != null and username != ''">
            and u.username = #{username}
        </if>
        order by grpmr.times desc
    </select>

</mapper>